.typography {
  margin: 0;
  padding: 0;
  transition: color 0.5s ease;
}

.h1 {
  color: var(--input-color);
  font-weight: 600;
  font-size: 48px;
}

.h2 {
  color: var(--input-color);
  font-weight: 600;
  font-size: 24px;
}

.body1 {
  font-size: 16px;
  font-weight: 400;
}

.body2 {
  font-size: 16px;
  font-weight: 500;
}

.text {
  color: var(--text-color);
}

.main {
  color: var(--main-color);
}

.heading {
  color: var(--input-color);
}
.gray {
  color: var(--gray);
}
