.headerWrapper {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--badges-color);
}

.navigation {
  flex-grow: 1;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
