.camperCard {
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 292px 1fr;
  gap: 24px;
}

.image {
  height: 320px;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.headerRight {
  display: flex;
  gap: 12px;
  align-items: center;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 525px;
  margin: 24px 0;
  padding-right: 24px;
}

.showMore {
  margin-top: 24px;
}
