.camperCard {
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 292px 1fr;
  gap: 24px;
}

.image {
  height: 320px;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}
